<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to gitPub</h1>

    <ul>
    
        <% drinks.forEach(v=>{ %> 
            <li>
                <%=v.name %> 
            </li>
        <% }) %>
        
    </ul>
    
    <style type="text/css">
        body {
          color: rgb(8, 8, 8);
          background-color: steelblue;
        }
      </style>
</body>
</html>